/*------Global--------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width:100%;
	font-family: 'Raleway', sans-serif;
}

a {
	outline:none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.menu-nav {
	width: 100%;
}

.container {
	width:80%;
	margin:0 auto;
}

.nav div {
	height: 4px;
	background-color: black;
	margin: 5px 0;
	border-radius: 25px;
	transition: 0.3s;
}

.nav {
	width: 30px;
	display: block;
	margin: 1em 0 0 1em;
}

.one {
	width: 30px;
}

.two {
	width: 20px;
}

.three {
	width: 25px;
}

.nav:hover div {
	width: 30px;
}

.main-nav a:hover svg:hover path, .main-nav a:hover svg:hover polygon {
	fill:#e74c3c;
	-webkit-transition:all .2s ease;
}

.main-parrafo {
	width: 100%;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 6em;
}

.titulo {
	color: #777777;
	font-size: 2.6em;
	font-weight: normal;
	padding: 2em 4em;
}

/*.titulo::after {
	content: "";
	display:block;
	height:3px;
	width:15%;
	background:#232427;
	-webkit-transition:all .4s ease;
}*/

.titulo span {
	color: black;
}

.links ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.links ul li {
	margin: 1em;
}

.links ul li a {
	color: black;
}

.links ul li a:hover {
	color: #e74c3c;
}

.main-content {
	width: 100%;
	background-color: white;
	padding-bottom: 3em;
}

.portafolio {
	display: flex;
	flex-direction: column;
}

.row-uno {
	display: flex;
	justify-content: space-between;
}

.desc-trabajos {
	align-self: center;
	text-align: center;
	flex: 1;
}

.desc-trabajos h2 {
	font-size: 1.8em;
}

.desc-trabajos h4 {
	font-weight: 400;
	font-size: 1.3em;
}

.row-dos {
	display: flex;
	justify-content: space-between;
}


.img-responsiva {
    max-width: 100%;
    height: auto;
}


.btn-ver-mas {
	text-align: center;
	margin: 4em 0;

}

.btn-ver-mas a {
	color: #e74c3c;
	text-decoration: none;
	padding: 12px 25px;
	border: 1px solid #e74c3c;
	border-radius: 50px;
	transition: 0.3s;
}

.btn-ver-mas a:hover {
	color: white;
	background-color: #e74c3c;
	transition: 0.3s;
}

.footer {
	width: 100%;
	background: -webkit-linear-gradient(left, #e74c3c 50%,#ffffff 50%,#ffffff 100%);
	background: linear-gradient(to right, #e74c3c 50%,#ffffff 50%,#ffffff 100%);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 2em;
}

.col-uno {
	color: white;
	margin-top: 3em;
}

.col-uno h4 {
	margin-bottom: 0.5em;
}

.col-dos {
	color: white;
	margin-top: 1em;
}


/*------ Secundary Nav ----------*/
.navegacion {
	width: 100%;
	background-color: black;
	height: 0;
	display: none;
	overflow: hidden;
}

.sec-nav {
	display: flex;
	justify-content: space-between;
}

.sec-nav ul {
	display: flex;
}

.sec-nav ul li {
	list-style: none;
	margin: 3em 2em;
}

.sec-nav ul li a {
	color: white;
	text-decoration: none;
}

.sec-nav ul li a:hover {
	color: #e74c3c;
}

.cerrar-nav div {
	height: 3px;
	background-color: white;
	margin: 5px 0;
	border-radius: 25px;
	transition: 0.3s;
}

.cerrar-nav {
	width: 30px;
	display: block;
	margin: 3.5em 0 0 0;
}

.cuatro {
	width: 30px;
	transform: rotate(45deg);
}

.cinco {
	width: 30px;
	transform: rotate(130deg);
	margin-top: -8px !important;
}

.cerrar-nav:hover div {
	transform: rotate(0);
}

/*.proyecto {
	position: relative;
}

.proyecto:hover {

}

.textHover {
	width: 100%;
	height: 100%;
	background: rgba(103, 58, 183, 0.71);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.7s ease;
}

.textHover h4 {
	color: white;
	border: 6px solid white;
	padding: 10px 30px;
}*/




/*----------Proyectos----------*/

.main-parrafo-proyectos {
	width: 100%;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 4em;
}

/*-------- Contacto -----------*/

.formulario {
	flex: 1;
}

.formulario h3 {
	color: black;
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 2em;
}

.redes-sociales {
	flex: 1;
}

.redes-sociales h3 {
	color: black;
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 2em;
}

.redes-sociales ul {
	display: flex;
	list-style: none;
	justify-content: center;
}

.redes-sociales ul li {
	margin: 2em;
}

.redes-sociales ul li a {
	color: black;
}

.redes-sociales ul li a:hover {
	color: #e74c3c;
}

.style-1 input[type="text"] {
	width: 60%;
    padding: 18px 15px;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 0 !important;
    transition: border 0.3s;
    color: #333;
    margin-bottom: .5em;
}

.style-1 input[type="text"]:focus {
	outline: none;
    border: 1px solid #e74c3c;
}

.style-1 input[type="email"] {
	width: 60%;
    padding: 18px 15px;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 0 !important;
    transition: border 0.3s;
    color: #333;
    margin-bottom: .5em;
}

.style-1 input[type="email"]:focus {
	outline: none;
    border: 1px solid #e74c3c;
}

.style-1 .estilo-area {
    background-color: white;
    padding: 18px 15px;
    border: 1px solid #dadada;
    border-radius: 0 !important;
    transition: border 0.3s;
    color: #333;
    width: 60%;
    margin-top: .1em;
}

.style-1 .estilo-area:focus {
	outline: none;
    border: 1px solid #e74c3c;
}

.btn_submit_contacto {
    background-color: #e74c3c;
    cursor: pointer;
    color: white;
    padding: 18px 26px;
    text-decoration: none;
    border: 1px solid #e74c3c;
    transition: .5s;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 60%;
}

.btn_submit_contacto:hover {
    background-color: transparent;
    cursor: pointer;
    color: #e74c3c;
    transition: .5s;
    border: 1px solid #e74c3c;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.text-danger {
    color: #e74c3c;
}


/*------- Sobre Mi --------*/

.row-tres {
	width: 100%;
	margin-bottom: 2em;
}

.row-tres h2 {
	margin: 2em 0;
}

.skill-section {
	display: flex;
}

.contenedor-skills {
	flex: 1;
	padding: 1em;
	transition: all .5s;
}

.contenedor-skills:hover {
	transition: all .5s;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(194,194,194,1);
	-moz-box-shadow: 0px 0px 16px 0px rgba(194,194,194,1);
	box-shadow: 0px 0px 16px 0px rgba(194,194,194,1);
}

.contenedor-skills2 {
	flex: 1;
	padding: 1em;
	transition: all .5s;
}

.contenedor-skills2:hover {
	transition: all .5s;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(194,194,194,1);
	-moz-box-shadow: 0px 0px 16px 0px rgba(194,194,194,1);
	box-shadow: 0px 0px 16px 0px rgba(194,194,194,1);
}

.skillBox {
	display: flex;
	justify-content: space-between;
	padding: 2em;
}

.skill {
	border: 1px solid #e74c3c;
	margin: 0 2em;
}

.skill_level {
	margin: 4px;
	background-color: #e74c3c;
	height: 5px;
	width: 90%;
}

.skill_level2 {
	margin: 4px;
	background-color: #e74c3c;
	height: 5px;
	width: 80%;
}

.skill_level3 {
	margin: 4px;
	background-color: #e74c3c;
	height: 5px;
	width: 70%;
}



/*------ MediaQuery ------*/

@media (max-width: 1632px) {
	.cambio-largo {
		flex: 1;
	}
}

@media (max-width: 1365px) {
	.titulo {
		padding: 2em;
	}

	.style-1 input[type="text"] {
		width: 80%;
	}

	.style-1 input[type="email"] {
		width: 80%;
	}

	.style-1 .estilo-area {
    	width: 80%;
	}

	.btn_submit_contacto {
		width: 80%;
	}
}

@media (max-width: 1000px) {
	.container {
		width:90%;
	}
}

@media (max-width: 963px) {
	.titulo {
		padding: 2em 1em;
	}
}

@media (max-width: 850px) {
	.row-uno {
		flex-direction: column;
		justify-content: center;
		margin-bottom: .3em;
	}

	.row-dos {
		flex-direction: column;
		justify-content: center;
		margin-bottom: 1em;
	}
	.desc-trabajos {
		margin-bottom: 1em;
	}

	footer {
		flex-direction: column;
		justify-content: center;
		/*padding-bottom: 2em;*/
	}

	.footer {
	background: -webkit-linear-gradient(top, #e74c3c 50%,#ffffff 50%,#ffffff 100%);
	background: linear-gradient(to bottom, #e74c3c 50%,#ffffff 50%,#ffffff 100%);
	}

	.col-uno {
    	text-align: center;
	}

	.col-dos {
    	margin-top: 5em;
    	align-self: center;
	}

	.style-1 input[type="text"] {
		width: 100%;
	}

	.style-1 input[type="email"] {
		width: 100%;
	}

	.style-1 .estilo-area {
    	width: 100%;
	}

	.btn_submit_contacto {
		width: 100%;
	}

	.skill-section {
		flex-direction: column;
	}
}

@media (max-width: 750px) {
	.titulo {
		font-size: 2em;
	}
	svg#Capa_1 {
		width: 100px;
		height: auto;
	}
}

@media (max-width: 500px) {
	.container {
		width:95%;
	}
	.sec-nav ul {
		flex-direction: column;
		justify-content: center;
	}
	.sec-nav ul li {
    	margin: 1.5em 2em;
	}

	.cerrar-nav {
    	margin: 1.5em 0 0 0;
	}

	.skillBox {
		padding: 2em 1em;
	}

	.skill {
		margin: 0 1em;
	}
}

@media (max-width: 430px) {
	.titulo {
		font-size: 1.5em;
	}
}

@media (max-width: 370px) {
	.links ul li {
    	margin: .5em;
	}
}