/*------Global--------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width:100%;
	font-family: 'Raleway', sans-serif;
}

a {
	outline:none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.menu-nav {
	width: 100%;
}

.container {
	width:80%;
	margin:0 auto;
}

.nav div {
	height: 4px;
	background-color: black;
	margin: 5px 0;
	border-radius: 25px;
	transition: 0.3s;
}

.nav {
	width: 30px;
	display: block;
	margin: 1em 0 0 1em;
}

.one {
	width: 30px;
}

.two {
	width: 20px;
}

.three {
	width: 25px;
}

.nav:hover div {
	width: 30px;
}

.main-nav a:hover svg:hover path, .main-nav a:hover svg:hover polygon {
	fill:#e74c3c;
	-webkit-transition:all .2s ease;
}

.main-parrafo {
	width: 100%;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 6em;
}

.titulo {
	color: #777777;
	font-size: 2.6em;
	font-weight: normal;
	padding: 2em 4em;
}

/*.titulo::after {
	content: "";
	display:block;
	height:3px;
	width:15%;
	background:#232427;
	-webkit-transition:all .4s ease;
}*/

.titulo span {
	color: black;
}

.links ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.links ul li {
	margin: 1em;
}

.links ul li a {
	color: black;
}

.links ul li a:hover {
	color: #e74c3c;
}

.main-content {
	width: 100%;
	background-color: white;
	padding-bottom: 3em;
}

.portafolio {
	display: flex;
	flex-direction: column;
}

.row-uno {
	display: flex;
	justify-content: space-between;
}

.desc-trabajos {
	align-self: center;
	text-align: center;
	flex: 1;
}

.desc-trabajos h2 {
	font-size: 1.8em;
}

.desc-trabajos h4 {
	font-weight: 400;
	font-size: 1.3em;
}

.row-dos {
	display: flex;
	justify-content: space-between;
}


.img-responsiva {
    max-width: 100%;
    height: auto;
}


.btn-ver-mas {
	text-align: center;
	margin: 4em 0;

}

.btn-ver-mas a {
	color: #e74c3c;
	text-decoration: none;
	padding: 12px 25px;
	border: 1px solid #e74c3c;
	border-radius: 50px;
	transition: 0.3s;
}

.btn-ver-mas a:hover {
	color: white;
	background-color: #e74c3c;
	transition: 0.3s;
}

.footer {
	width: 100%;
	background: -webkit-linear-gradient(left, #e74c3c 50%,#ffffff 50%,#ffffff 100%);
	background: linear-gradient(to right, #e74c3c 50%,#ffffff 50%,#ffffff 100%);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 2em;
}

.col-uno {
	color: white;
	margin-top: 3em;
}

.col-uno h4 {
	margin-bottom: 0.5em;
}

.col-dos {
	color: white;
	margin-top: 1em;
}